<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
    <title>Eat Da Burger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/assets/js/burger.js"></script>
</head>
<body>

    {{{body}}}
  <!--footer tag-->
        <footer class="footer">
          <div class="container">
            <span>Daniel Mestawat &copy; 2020 all rights reserved!</span>
          </div>
        </footer>
</body>
</html>