  
h2 {
    text-align: center;
    font-family: Verdana,sans-serif;
}
.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    display: -webkit-flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

button {
    padding: 20px;
    margin: 20px;
    color: black;
    font-weight: bolder;
    font-family: Verdana,sans-serif;
    background-color: chocolate;
    border-radius: 20px;
    border-color: blue;
    
}

body {
   background-image: url(../img/image\ 6.jpg);
   font-family: Verdana,sans-serif;
}

form {
    text-align: center;
    border-color: blue;
    border-radius: 20px;
    box-shadow: brown;
}


li{
    font-size: 20px;
    color: blue;
}

/* footer style */
.footer {
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    color: red;
    
 }
